.list-group-item-action{
  color: black !important;
  background:  white!important;
 border-radius: 10px;
}


.animation{
  transition: all 100ms linear !important;
}

body{
  background-color: #f9f7f2 !important;
}